/* ----- style.css ----- */
* {
  box-sizing: border-box;
  margin: 10;
  padding: 0;
}
body {
  background-color: #044550;
 
}
svg ellipse {
  opacity: 0.7;
} 

svg ellipse:hover {
  opacity: 1;
  transition: 0.5s;
}



