svg{
  padding:10px;
  border:1px solid black;
}

svg text{
  opacity: 0.0;
 }

#simplex:hover text{
  opacity: 1.0;
  transition: 0.5s;
 }

/* #simplex g:hover text{
  opacity: 0.1;
  transition: 0.5s;
 } */