/* ----- style.css ----- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* background-color: #01171b;
  */
}
svg path {
  stroke: #00394f;
  stroke-width: 0.3;
  opacity: 0.3;
}
svg path:active, svg path:hover {
  stroke: #006284;
  stroke-width: 1;
  transition: 0.2s;
  cursor: pointer;
  opacity: 0.9;
}