svg{
  padding:10px;
  /* border:1px solid black; */
}

#hovering{
  stroke: black;
  stroke-width: 9.0;
 }

#freq{
  fill: none;
  opacity: 0.0;
 }

#hovering:hover+#freq, #hovering:active+#freq{
  fill: black;
  opacity: 1.0;
  transition: 1.0s;
 }