svg{
  padding:10px;
  /* border:1px solid black; */
}

#ring{
  stroke: black;
  stroke-width: 15.0;
 }

#freq{
  /* fill: none; */
  opacity: 0.0;
 }

#ring:hover+#freq, #ring:active+#freq{
  /* fill: black; */
  opacity: 1.0;
  transition: 1.0s;
 }