<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>KR5EID</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <style> h1,h2,h3,p {text-align: center;}</style>
  </head>
  <body>
    <h1>KR5EID
      <br>Template</h1>
    <h2>Template</h2> 
    <h3>Template</h3>
    <p style="font-size: 30px;">Template</p>
    <p style="font-size: 30px; font-style: italic;">Template</p>
    <p style="font-size: 30px;">Template</p>
  </body>
</html>